<h1>Relatos Psicológicos</h1>
<hr>

<h3>Você é Terapeuta?</h3>
Conheça seu novo Painel!
Acompanhe os relatórios de seus pacientes em tempo-real pela internet!

<hr>


<h3>Planos de assinatura</h3>
Assine agora mesmo a plataforma Cogni e utilize o Painel do Terapeuta com seus pacientes!

<hr>
<h3>Condições</h3>

A assinatura é realizada através do sistema de pagamentos Paypal, via cartão de crédito.
Ative a promoção Wainer na página de pagamento, com o código: wainer2017
As assinaturas podem ser canceladas a qualquer momento, sem multa.
O valor da mensalidade na promoção Wainer é válido por um período de 1 ano, desde que a assinatura não seja interrompida ou cancelada.
Após esse período, a assinatura promocional Wainer é convertida automaticamente em plano Básico.